body {
  background-color: #111827;
  padding: 190px 0;
}

.nav-link {
  color: #d1d5db; 
  border-bottom: 3px solid transparent;
  padding-bottom: 0.25rem;
  transition: all 0.3s;
  text-decoration: none;
  font-weight: normal;
  margin: 0 0.5rem;
  white-space: nowrap;
}

.nav-link:hover {
  color: #2dd4bf;
}

.nav-link.active {
  color: white;
  font-weight: 600;
  border-bottom: 3px solid #2dd4bf;
}

.icon-contact {
  filter: brightness(0) saturate(100%) invert(76%) sepia(8%) saturate(184%) hue-rotate(138deg) brightness(90%) contrast(85%);
}
#fullscreen {
  position: fixed;
  inset: 0;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 9999;
}

#fullImage {
  max-width: 90vw;
  max-height: 90vh;
  object-fit: contain;
  border-radius: 1rem;
  border: 4px solid white;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}
